<h1>投稿編集</h1>
  <% if @game_post.errors.any? %>
    <%= @game_post.errors.count %>error prohibited this book from being saved
      <% @game_post.errors.full_messages.each do |message| %>
         <li><%= message %></li>
      <% end %>
  <% end %>

<%= form_with model: @game_post do |f| %>
            <h4>投稿タイトル</h4><br>
            <%= f.text_field :post_title, class: "form-control", placeholder: "〇〇で遊んだ！" %><br>
            <h4>投稿内容</h4><br>
            <%= f.text_area :post_body, class: "form-control", placeholder: "1位取れた！" %><br>
            <h4>ショップ名</h4><br>
            <%= f.text_field :shop_name, class: "form-control", placeholder: "買った・遊んだショップ" %><br>
            <h4>住所</h4><br>
            <%= f.text_field :shop_address, class: "form-control", placeholder: "ショップの住所" %>

  <%= f.submit 'Update' class: "btn btn-lg btn-block mt-4"%>

<% end %>
<%= link_to "Show", game_post_path(@game_post.id) %>
|
<%= link_to "Back", game_posts_path %>
</div>