  <div class="container my-5 col-12 col-sm-12 col-lg-10 col-xl-8 mx-auto text-center">
    <h1>投稿詳細</h1>

  <div class="row">
    <div class="col-md-8">
      <h2>タイトル</h2>
      <p><%= @game_post.post_title %></p>

      <h2>内容</h2>
      <p><%= @game_post.post_body %></p>

      <% if @game_post.shop_name.present? %>
        <h2>店舗の名前</h2>
        <p><%= @game_post.shop_name %></p>
      <% end %>
    </div>

    <div class="col-md-4">
      <% if @game_post.post_image.attached? %>
        <%= image_tag @game_post.post_image, class: 'img-fluid' %>
      <% else %>
            <div class="card-img-top bg-secondary" style="height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;">
              <span class="text-white">No Image</span>
            </div>
      <% end %>

  </div>

</div>
    <% if @game_post.user == current_user %>
      <%= link_to '編集', edit_game_post_path(@game_post) %>
      |
      <%= link_to '削除', game_post_path(@game_post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <% else %>
      <%= link_to '戻る', game_posts_path %>
    <% end %>

<div>
  <p>コメント件数：<%= @game_post.comments.count %></p>
  <% @game_post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@game_post, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

</div>
</div>