
  <div class="container my-5 col-11 col-sm-10 col-lg-8 col-xl-6 mx-auto text-center">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h1><i class="fa-solid fa-chess-knight"></i>ボドゲ交流日記<i class="fa-solid fa-chess-rook"></i></h1>
    <p>
      <i class="fa-solid fa-chess"></i> bodgekouryunikki,<br>
      Kono sait deha asonda bodoge nituite kansou wotoukou, yoteiwo kanri dekimasu<br>
      bodogede tanosiku asobo!!
    </p>
    <% if user_signed_in? %>
      <p><%= current_user.name %>さん、こんにちは!</p>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
    <% end %>
  </div>

