<h4>マイページ</h4>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <% if current_user.profile_image.attached? %>
        <%= image_tag current_user.profile_image, class: 'img-fluid rounded' %>
      <% else %>
            <div class="card-img-top bg-secondary" style="height: 200px; width: 200px; display: flex; align-items: center; justify-content: center;">
              <span class="text-white">No Image</span>
            </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <h4>名前: <%= current_user.name %></h4>
      <p>自己紹介: <%= current_user.introduction %></p>
      <%= link_to 'プロフィールを編集', edit_user_path(current_user), class: 'btn btn-primary' %>
    </div>
      </div>
      

    <h4>投稿</h4>
<%= render 'game_posts/game_post', game_posts: @game_posts %>

</div>