<h1>マイページ</h1>

<div class="container my-5">
  <h4><%= current_user.name %></h4>
  <div class="row">
    <% @game_posts.each do |game_post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% if game_post.post_image.present? %>
            <%= image_tag game_post.post_image, class: 'card-img-top', style: "height: 200px; object-fit: cover;" %>
          <% else %>
            <div class="card-img-top bg-secondary" style="height: 200px; display: flex; align-items: center; justify-content: center;">
              <span class="text-white">No Image</span>
            </div>
          <% end %>
          <div class="card-body text-center">
            <h5 class="card-title"><%= game_post.post_title %></h5>
            <%= link_to '詳細', game_post_path(game_post), class: 'btn btn-primary btn-sm' %>
            <%= link_to '編集', edit_game_post_path(game_post), class: 'btn btn-secondary btn-sm' %>
            <%= link_to '削除', game_post_path(game_post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>