<!DOCTYPE html>
<head>

</head>
<html>
  <head>
    <title>ボドゲ交流日記</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <script src="https://kit.fontawesome.com/e8ca34111f.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ボドゲ交流日記</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>



    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to 'トップページ', root_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ボドゲ日記', about_path, class: 'nav-link' %>
              </li>
              </li>
              <li class="nav-item">
                <%= link_to '新規投稿', new_game_post_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', game_post_path(current_user.id), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'んははは', '#', class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'カレンダー', '#', class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </main>
      </div>
    </div>

    <footer class="bg-dark text-white py-4">
      <div class="container text-center">
        <p>2024 ボドゲ交流</p>
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to 'spesial thanks', '#' %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
